In [7]:
import pandas as pd

In [9]:
df = pd.read_csv('data/interactive_data.csv')
df.head(5)

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
0,1,None selected,None selected,None selected,None selected,33599,316299978,10.6
1,2,None selected,None selected,None selected,White,22079,197369634,11.2
2,3,None selected,None selected,None selected,Black,7765,38896382,20.0
3,4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
4,5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7

In [30]:
#pre-processing: This removes rows where at least one column contains "None selected".
filtered_df = df[~df.eq('None selected').any(1)]
filtered_df.head(10)

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
151,152,Suicide,Female,Under 15,White,19,15355910,0.1
152,153,Suicide,Female,Under 15,Black,1,4095428,0.0
153,154,Suicide,Female,Under 15,Hispanic,4,7330024,0.1
154,155,Suicide,Female,Under 15,Asian/Pacific Islander,1,1393440,0.1
155,156,Suicide,Female,Under 15,Other,0,1661877,0.0
157,158,Suicide,Female,15 - 34,White,539,23942099,2.3
158,159,Suicide,Female,15 - 34,Black,44,6023846,0.7
159,160,Suicide,Female,15 - 34,Hispanic,55,8580577,0.6
160,161,Suicide,Female,15 - 34,Asian/Pacific Islander,14,2535358,0.6
161,162,Suicide,Female,15 - 34,Other,10,1511400,0.7

In [20]:
deaths = filtered_df['Deaths'].sum()
suicides = filtered_df[filtered_df['Intent'] == 'Suicide']['Deaths'].sum()
suicide_percentage = (suicides / deaths) * 100
print(f"The percentage of deaths due to suicide is {suicide_percentage:.2f}%")

The percentage of deaths due to suicide is 62.68%

In [28]:
male_suicides = filtered_df[
                    (filtered_df['Intent'] == 'Suicide') & 
                    (filtered_df['Gender'] == 'Male')
                ]['Deaths'].sum()
male_suicide_percentage = male_suicides / suicides * 100
print(f"The percentage of male suicide is {male_suicide_percentage:.2f}%")

The percentage of male suicide is 86.24%

In [29]:
homicides = filtered_df[filtered_df['Intent'] == 'Homicide']['Deaths'].sum()
homicides_percentage = homicides / deaths * 100
print(f"The percentage of deaths due to homicide is {homicides_percentage:.2f}%")

The percentage of deaths due to homicide is 34.91%

In [33]:
young_black_male_homicides = filtered_df[
                            (filtered_df['Intent'] == 'Homicide') & 
                            (filtered_df['Gender'] == 'Male') &
                            (filtered_df['Age'] == '15 - 34') &
                            (filtered_df['Race'] == 'Black')
                        ]['Deaths'].sum()
young_male_homicides = filtered_df[
                            (filtered_df['Intent'] == 'Homicide') & 
                            (filtered_df['Gender'] == 'Male') &
                            (filtered_df['Age'] == '15 - 34')
                        ]['Deaths'].sum()
percentage = young_black_male_homicides / young_male_homicides * 100
print(f"The percentage of homicide victims who are black males in the age-group of 15--34 is {percentage:.2f}%")

The percentage of homicide victims who are black males in the age-group of 15--34 is 66.12%

In [ ]:
female_homicides = filtered_df[
                            (filtered_df['Intent'] == 'Homicide') & 
                            (filtered_df['Gender'] == 'Female')
                    ]['Deaths'].sum()
female_homicides_percentage = female_homicides / homicides * 100
print(f"The percentage of femais {percentage:.2f}%")